body {
    font-family: Arial, Verdana, sans-serif;
}

#names {
    font-size: 30px;
}

input#doItNau {
   font-size: 30px;
   padding: 5px;
}

#naminated {
    font-size: 20px;
    color: #999;
    margin-top: 20px;
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #e0e0e0;
    width: 500px;
}

.inator {
    border-bottom: 1px dotted #ccc;
    padding: 5px;
}

.inator:last-child {
    border-bottom: 0px;
}

#mainImg {
    margin: 10px 0px;
}
