<!DOCTYPE hml>
<html>
    <head>
        <title>The NAMINATOR!!1</title>
        <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
        <script type="text/javascript" src="/static/naminator.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/naminator.css" />
    </head>
    <body>
        <h1>The NAMINATOR</h1>
        <h3>A simple app that adds -ator to anything. Ator.</h3>
        <div>How it works:</div>
        <ol>
            <li>Enter one or more names separated by spaces in the box.</li>
            <li>Click the Naminatorize! button.</li>
            <li>Profit.</li>
        </ol>
        <div>
            <input type="text" value="" placeholder="Enter some names" id="names" />
            <input type="button" value="Naminatorize!" id="doItNau" />
        </div>
        <div id="naminated">
        </div>
    </body>
</html>
